.hero{
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-navbar{
    background-color: darkgrey;
    max-width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-navbar-item{
    width: 10%;
}

.hero-header{
    max-width: 80%;
    font-size: 7rem;
    text-align: center;
}

.hero-text{
    max-width: 80%;
    font-size: 2rem;
    text-align: center;
}

.cyan-button{
    background-color: darkcyan;
    color: white;
    border: none;
    height: 2.5rem;
}

.cyan{
    color: darkcyan;
}

.yellow-button{
    background-color: darkorange;
    color: white;
    border: none;
    height: 2.5rem;
}

.secion{
    padding: 4rem;
}

.section-header{
    font-size: 4rem;
    max-width: 80%;
    margin: 1rem auto 0 auto;
    text-align: center;
}

.section-text{
    font-size: 1.5rem;
    max-width: 80%;
    margin: 3rem auto;
    text-align: center;
}













.testimonial-header{
    margin-top: 5rem;
    font-size: 4rem;
    text-align: center;
}

.testimonial-sub-header{
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.testimonial-container{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 8rem auto;
    gap: 2rem;
}

.testimonial{
    background-color: lightgray;
    border: 2px solid #41485e;
    padding: 1rem;
}

.testimonial-pic{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    background-color: darkgray;
    height: 10rem;
    width: 10rem;
    margin-top: -10rem;
    border-radius: 50%;
    z-index: 9999;
}

.testimonial-tick{
    font-size: 3rem;
    font-family: 700;
}

.testimonial-name{
    text-align: center;
    font-size: 2rem;
    font-family: 500;
}

.cta{
    background-color: lightgray;
    padding: 5rem 0 0 0;
    margin-bottom: 5rem;
}

.cta-container{
    max-width: 84%; 
    margin: 0 auto;
}

.cta-header{
    font-size: 2.8rem;
    text-align: center;
}

.cta-text{
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem 0;
}

.cta-button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
}

.partner-header{
    font-size: 4rem;
    text-align: center;
    margin: 8rem auto 3rem auto;
}

.partner-text{
    font-size: 1.75rem;
    text-align: center;
}

.partner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem auto;
    max-width: 40%;
}

.partner-pic{
    width: 10rem;
    height: 10rem;
    background-color: lightgray;
    border-radius: 50%;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 3rem auto;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.gallery-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 6rem;
}

.footer-pic{
    width: 50%;
}

.footer-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.footer-text{
    font-size: 1.2rem;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 5rem auto;
    gap: 1rem;
}

.newsletter-container-header{
    font-size: 3rem;
    text-align: center;
}